<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>ejercicio</display-name>
 <!-- <context-param> <param-name>com.sun.faces.serializeServerState</param-name> 
		<param-value>false</param-value> </context-param> -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/application-context.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- <context-param> <param-name>facelets.REFRESH_PERIOD</param-name> <param-value>2</param-value> 
		</context-param> -->
<!--  <context-param> -->
<!--   <param-name>javax.faces.CONFIG_FILES</param-name> -->
<!--   <param-value>/WEB-INF/faces-config.xml,/WEB-INF/login-navigation.xml,/WEB-INF/patient-navigation.xml,/WEB-INF/menu-navigation.xml,/WEB-INF/medical-dashboard-navigation.xml,/WEB-INF/measures-navigation.xml</param-value> -->
<!--   </context-param> -->
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>saga</param-value>
 </context-param>
 <!-- Enable Spring Filter: Spring Security works on the concept of Filters 
		Declare the Spring filter--> 
<!-- <filter> -->
<!-- 	<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- </filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 		<dispatcher>FORWARD</dispatcher> -->
<!-- 		<dispatcher>REQUEST</dispatcher> -->
<!-- 		<dispatcher>ASYNC</dispatcher> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter> -->
<!-- 		<filter-name>PrimeFaces -->
<!-- 			FileUpload Filter -->
<!-- 		</filter-name> -->
<!-- 		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter> -->
<!-- 		<filter-name>Pretty Filter</filter-name> -->
<!-- 		<filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class> -->
<!-- 		<async-supported>true</async-supported> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>PrimeFaces -->
<!-- 			FileUpload Filter -->
<!-- 		</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
   <listener> 
   <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
  </listener> 
 <!--
 <listener> <listener-class>com.sun.faces.config.ConfigureListener</listener-class> 
		</listener> -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>/faces/*</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <exception-type>javax.faces.application.ViewExpiredException</exception-type>
  <location>/index.jsp</location>
 </error-page>
 <!-- <error-page> <error-code>404</error-code> <location>/faces/pages/common/404.xhtml</location> 
		</error-page> -->
 <error-page>
  <error-code>500</error-code>
  <location>/faces/pages/common/error.xhtml?faces-redirect=true</location>
 </error-page>
</web-app>
